/*body{
    margin: 0;
}

*{
    margin: 0;
}



body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}*/

/* Utilities */

.container{
    display: flex;
    flex-direction: column;
}

/* Log in Page */

.sideImage {
    width: 100vw;
    height: 40vw;
    background-image: url("../assets/background.jpg");
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
}

.logInContent{
    display: flex;
    padding: 20px 0;
    display: grid;
    row-gap: 20px;
    padding: 20px 30px;
    grid-template-rows: 15% 10% 60%;
    align-content: center;
}

.logInContent > h1{
    font-size: 40px;
    align-self: end;
    margin: 0;
    display: none;
}

.logInContent > h3{
    font-size: 10vw;
    align-self: end;
    margin: 0;
}

.logInContent > .logInBox{
    align-self: start;
}

.logInBox{
    display: grid;
    row-gap: 20px;
    grid-template-rows:auto;
}

.logInBox > p{
    font-size: 7vw;
}

.logInBox > input{
    width: 60%;
    height: 6vw;
    font-size: 4vw ;
    border-radius: 25px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    padding-left: 10px;
    align-items: center;
}

.logInBox > input::placeholder{
    font-size: 4vw ;
}

.logInBox > button{
    width: 20%;
    height: 7vw;
    border-radius: 25px;
    font-size: 5vw;
    border: 0;
    color: white;
    background-color: rgb(70, 179, 243);
}

.logInBox > button:hover{
    cursor: pointer;
}

.logInBox > div{
    display: flex;
    flex-direction: row;
}

.logInBox > div > p{
    margin-right: 5px;
    align-self: center;
}

.logInBox > div > button{
    padding: 0;
    align-self: center;
    color: rgb(30, 173, 255);
    background-color: white;
    border: 0;
    width: 9vh;
}

.signUpPopup{
    background-color: rgba(0,0,0,70%);
    height:150%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.signUpPopup > div{
    display: grid;
    width: 60vw;
    height: 80vh;
    padding: 10px 20px;
    border-radius: 15px;
    row-gap: 15px;
    grid-template-rows: 5% auto;
    background-color:white;
}

.signUpPopup > div > button{
    width: 5vw;
    height: 5vw;
    max-width: 30px;
    max-height: 30px;
    min-width: 20px;
    min-height: 20px;
    align-self: flex-start;
    border-radius: 50%;
    font-size: 25px;
    border: 0;
    background-color:white;
}

.signUpPopup > div > button:hover{
    background-color:rgb(140, 222, 255);
    cursor: pointer;
}

.signUpPopup > div > button > img{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.signUpPopup > div > h3{
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 3vw;
}

.signUpPopup > div > input{
    width: 80%;
    height: 4vw;
    border-radius: 25px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    font-size: 3vw;
    padding-left: 10px;
    justify-self: center;
}

.signUpPopup > div > input::placeholder{
    font-size: 3vw;
}

.signUpPopup > div > .signUpBtn{
    height: 6vw;
    width: 15vw;
    max-width: none;
    max-height: none;
    border-radius: 25px;
    font-size: 3vw;
    border: 0;
    color: white;
    background-color: rgb(70, 179, 243);
    justify-self: center;
}

@media only screen and (min-width: 800px){

    .container{
        flex-direction: row;
    }

    .sideImage{
        background-image: url("../assets/twitter-svgrepo-com.svg");
        background-position: center;
        width: 50vw;
        height: 100vh;
    }
    
    .logInContent > h1 {
        font-size: 43px;
        display: flex;
    }

    .logInContent > h3 {
        align-self: start;
        font-size: 30px;
    }
    
    .logInBox > p{
        font-size: 30px;
        align-self: end;
        margin: 0;
    }
    
    .logInBox > input{
        height: 40px;
        font-size: 25px;
    }
    
    .logInBox > input::placeholder{
        font-size: 25px;
    }
    
    .logInBox > button{
        height: 40px;
        font-size: 25px;
    }
    
    .logInBox > div > button{
        width: 12vh;
    }
    
    .signUpPopup > div{
        width: 35vw;
        max-width: 350px;

    }
    
    .signUpPopup > div > button{
        width: 30px;
        height: 30px;
    }
    
    .signUpPopup > div > h3{
        font-size: 30px;
        margin: 0;
    }
    
    .signUpPopup > div > input{
        height: 3vw;
        font-size: 2vw;
    }
    
    .signUpPopup > div > input::placeholder{
        font-size: 2vw;
    }
    
    .signUpPopup > div > .signUpBtn{
        width: 30%;
        height: 3vw;
        font-size: 2vw;
    }
}


.wrapper {
    
    display: flex;
    flex-direction: row;
    
}

.main {
    max-width: 90vh;
    height: 100%;
    margin-left: 64vh;
    scroll-behavior: smooth;
    border-right: 1px;
    border-left-color: #EBEEF0;
    border-style: groove;
    border-top: none;
    border-bottom: none;
    position: absolute;

  }

.sidebar {
    width: 64vh;
    height: 100%;
    position:fixed; 
    z-index: 1; 
    top: 0;
    background-color: white;
    overflow-x: hidden; 
    border-right: 1px;
    border-left-color: #EBEEF0;
    border-style: groove;
    border-top: none;
  }

  .logo-search-bar {
    display: flex;
    flex-direction: row;
    
  }


  .twitter-logo {
    padding-left: 3vh;
    padding-top: 3vh;
    width: 25%;
  }

  .search-bar {
    padding: 1vh;
    width: 80vh;
    height: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border-color: transparent;
    border-width: 1px;
    border-style: groove;
    margin-top: 2vh;
    margin-right: 3vh;
    background-color: #EBEEF0;

    
  }

  .input-bar {
    border-width: 0;
    background-color: #EBEEF0;
    height: 15px;
    width: 40vh;
    padding-left: 1vh;
  }

  .home-profile {
    position: absolute;
    left: 23%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 40px; 
    list-style: none; 

  }

.home-sec  {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; 
    text-decoration: none;   
}

.flexrow{
    flex-direction: row;
    justify-content: center;
    text-decoration: none;  
}

.profile {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    text-decoration: none;  
}

.side-btn {
    height: 30px;
    border: 0cm;
    color: black;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 1vh;
    text-decoration: none;
}

.side-btn:hover {
    cursor: pointer;
    background-color: rgb(216, 212, 212);
}

.blue-btn {
    border: 1px;
    border-radius: 50px;
    width: 20vh;
    color: white;
    font-weight: bold;
    background-color: #2994DC;
}


.who-to-follow-section {
    background-color: #F7F9FA;
    border-radius: 13px;
    position: absolute;
    left: 23%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    width: 42vh;
    height:35vh;  
}


.who-to-follow-title {
    text-align: left;
    padding-left: 2vh;
    height: 8vh;
    border-bottom-style: groove;
    border-color: #EBEEF0;

}

.showmore-btn {
    color: #2994DC;
    background-color: transparent;
    border-style: none;

}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #5b708372;
}


/*Scroll page where tweets appear*/


.fixed-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90vh;
    border-bottom-style: groove;
    border-color: #EBEEF0;


}

.home-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-color: white;
    border-style: none;
    padding-top: 3vh;
}

.tweetContainer{
    display: none;
    flex-direction: column;
}

.refresh-item {
    color: black;
    position: absolute;
    right: 5px;
    padding-top: 3vh;
}

.whats-happening-tweet-section {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color :#EBEEF0;
    
    
}

.user-icon {
    width: 7vh;
    border-radius: 50px;
    margin-left: 2vh;

}

.tweet-input-element {
    border-style: none;
    width: 50vh;
    font-size: 20px;
    height: 7vh;
}

.tweet-btn {
    margin-right: 2vh;
    height: 35px;
    border: 1px;
    border-radius: 50px;
    width: 15vh;
    color: white;
    font-weight: bold;
    background-color: #2994DC;

    
}

.tweet {
    display: flex;
    flex-direction: row;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color :#EBEEF0;    

}

.image-div {
    width: 9vh;
}

.tweet-user-icon {
    width: 7vh;
    border-radius: 50px;
    margin-left: 2vh;
    margin-top: 2vh;

}

.tweet-name-likes {
    max-width:fit-content;
    margin-top: 2vh;
}

.name-username {
    display: flex;
    justify-content:flex-start;
    margin-left: 1vh;
    
}

.username {
    color: #5B7083;
}

.tweet-content {
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 2vh;
}

.like-button {
    margin-top: 2vh;
    margin-left: 1vh;
}

/* Profile Section */

.profile-header {
    position: relative;
    flex-direction: row;
    width: 90vh;
    border-bottom-style: groove;
    border-color: #EBEEF0;
}

.back-item {
    color: black;
    position: absolute;
    left: 5px;
    padding-top: 1vh;
    margin-left: 1vh;
}

.profile-section {
    border-bottom-color: #EBEEF0;
    border-bottom-style:groove;
}

.profile-name {
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-color: white;
    border-style: none;
    padding-top: 1vh;
    margin-left: 10vh;
    
}


.cover {
     max-width: 90vh;
     max-height: 30vh;
}

.profile-pic {
    height: 18vh;
    width: 18vh;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    align-self: center;
    background-color: rgb(173, 173, 173);
}

.edit-button-div {
    float: right;
    margin-right: 4vh;

}

.edit-profile-btn {
    border-radius: 20px;
    border-style: groove;
    border-color: #B6B9BB;
    background-color: transparent;
    width: 15vh;
    height: 4vh;
    
}

.name--username {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
}

.interactions {
    display: flex;
    flex-direction: row;
    margin-left: 5vh;
    margin-top: 2vh;
}

.following {
    padding-right: 2vh;
    color: #5B7083;

}

.followers {
    padding-left: 5vh;
    padding-right: 2vh;
    color: #5B7083;

}

.tweets-btn {
    color: #5B7083;
    font-weight: bold;
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 1400px) {


     
  }

@media only screen and (max-width: 1100px) {

    .main {
        margin-left: 10vh;
    }

    .search-bar  {
      display: none;

    }
     
    .who-to-follow-section {
        display: none;
  
      }
    
    .side-btn {
        display: none;
  
      }

    .footer {
        display: none;
    }

    .sidebar {
        width: 10vh;
    }

    .home-profile {
        padding-left: 4px;
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    
    .home  {
        display: flex;
        flex-direction: row;
        margin-top: 2vh;    
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 0.5vh;
    }
     
  }


  @media only screen and (max-width: 790px) {


    .main {
        width: 100%;
    }

    .whats-happening-tweet-section {
        width: 100%
    }  

  }
  


  @media only screen and (max-width: 650px) {

    .main {
        width: 80%;
    }

    .whats-happening-tweet-section {
        width: 80%;
        display: flex;
        justify-content:flex-start;
    }

    .tweet-input-element {
        width: 40vh;
        font-size: 15px;
        height: 7vh;
    }

    .refresh-item {
        display: none;
    }

    .cover {
        max-width: 100%;
        max-height: 20vh;
   }
  }



  @media only screen and (max-width: 550px) {


    .main {
        width: 80%;
    }

    .whats-happening-tweet-section {
        width: 80%;
        display: flex;
        justify-content:flex-start;
    
    }

    .tweet-input-element {
        width: 30vh;
        font-size: 15px;
        height: 7vh;
    }

    .refresh-item {
        display: none;
    }
  }


  @media only screen and (max-width: 430px) {


    .main {
        width: 80%;
    }

    .whats-happening-tweet-section {
        width: 80%;
        display: flex;
        justify-content:flex-start;
    }

    .tweet-input-element {
        width: 20vh;
        font-size: 15px;
        height: 7vh;
    }

    .refresh-item {
        display: none;
    }
  }


  @media only screen and (max-width: 350px) {


    .main {
        width: 80%;
    }

    .whats-happening-tweet-section {
        width: 80%;
        display: flex;
        justify-content:flex-start;
    }

    .tweet-input-element {
        width: 10vh;
        font-size: 15px;
        height: 7vh;
    }

    .refresh-item {
        display: none;
    }
  }

.editProfilePopup{
    background-color: rgba(0,0,0,70%);
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.editProfileContainer{
    width: 75%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.editProfileContainer > div{
    width: 35%;
    height: 25%;
    margin: 30px 0 0 20px;
    align-self: center;
}

.inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.changePhoto{
    align-self: center;
    background-color: rgb(70, 179, 243);
    color: white;
    padding: 10px;
    border-radius: 25px;

}

.changePhoto:hover{
    cursor: pointer;
}
